.modal {
  width: 20rem;
  height: 24rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
