.mode-container {
  background-color: rgba(54, 122, 199, 0.8);

  position: absolute;
  width: 12rem;
  height: 5rem;

  top: 2rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5rem;
  font-size: 3rem;
  color: white;
}
